body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

input {
    width: 300px;
    padding: 8px;
}

button {
    padding: 8px 12px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 80%;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}

.error {
    color: red;
}
